:root {
    --vermelho: #D00000;
    --preto: #03071E;
    --branco:#FFFFFF;
    --azul-bebe:#bde0fe;
}
*{
    margin: 0%;
    padding: 0%;
}
.cabecalho{
    background-color:var(--preto);
    display: flex;
    justify-content: space-between;
}
.menu-item{
    display: inline-block;
    padding: 5px;
    margin-top: 55px;
    color: var(--branco);
    font-size: 20px;
}
.logo{
    width: 10%;
    margin: 10px;
}
.principal{
    background-color: var(--branco);
}